<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles_carrito.css' %}">
</head>
<body>
    <header>
        <h1>Tu Carrito de Compras</h1>
    </header>

    <section id="carrito">
        <h2>Productos en tu carrito</h2>
        <div id="lista-carrito">
            <!-- Los productos añadidos al carrito aparecerán aquí -->
        </div>
        <button id="checkout-btn" onclick="window.location.href='pago.html'">Proceder al Pago</button>
    </section>

    <script>
        // Llenar el carrito en la página del carrito
        const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
        const listaCarrito = document.getElementById('lista-carrito');

        if (carrito.length === 0) {
            listaCarrito.innerHTML = '<p>No hay productos en el carrito.</p>';
        } else {
            carrito.forEach(producto => {
                console.log(producto.imagen);  // Verifica si la ruta de la imagen es correcta
            
                const div = document.createElement('div');
                div.className = 'producto-en-carrito';
                div.innerHTML = `
    
                    <div class="producto-info">
                       <img src="assets/imagenes/${producto.imagen}" alt="${producto.producto}">

                        <h3>${producto.producto}</h3>
                        <p>Descripción: ${producto.descripcion}</p>
                        <p>Precio: $${producto.precio}</p>
                        <p>Cantidad: ${producto.cantidad}</p>
                    </div>
                `;
                listaCarrito.appendChild(div);
            });
        }
    </script>
</body>
</html>

