/* Estilos para la página del carrito */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}

header {
    padding: 2%;
    text-align: center;
    background-color: #15b4e4;
    border-bottom: 1px solid #f10f0f;
}

#carrito {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#lista-carrito {
    margin: 4cqmin 0;
}

.producto-en-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(129, 150, 167);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.producto-en-carrito img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.producto-info {
    flex-grow: 1;
}

button {
    background-color: #28a745;
    color: rgb(29, 23, 23);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}
